:root {
    --primary: #222831;
    --secondary: #2d4059;
    --third: #ff5722;
    --forth: #eeeeee;
}

*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--primary);
}

#nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary);
    padding: 8px 8px;
}

#nav>h1 {
    color: var(--forth);
}

#nav-routes {
    display: flex;
    gap: 8px;
    margin-right: 16px;
}

#nav-routes>a {
    padding: 4px 10px;
    color: var(--forth);
    text-decoration: none;
}

#nav-routes>a:hover {
    background-color: var(--forth);
    color: var(--secondary);
}

#main {
    padding: 0 4px;
}

/* FLASH CARDS*/
.flashCardCont {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.flashCard {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d
}

.flashCardFront,
.flashCardBack {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--secondary);
    border-radius: 5px;
    box-shadow: 5px 5px 10px 0px var(--primary);
    -webkit-box-shadow: 5px 5px 10px 0px var(--primary);
    -moz-box-shadow: 5px 5px 10px 0px var(--primary);
    background-color: var(--forth);
    backface-visibility: hidden;
}

.flashCardFront .flashCardQuestion{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flashCardQuestion{
    font-weight: bold;
}

.flashCardBack {
    position: absolute;
    transform: rotateY(180deg)
}

.flashCardBack .flashCardQuestion{
    text-align: center;
    margin-top: 1rem;
}

.flashCardAnswer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flashCardBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flashCardBtn>button {
    padding: 8px;
    margin-bottom: 1rem;
    border: 0;
    background-color: transparent;
    color: var(--primary);
    cursor: pointer;
    font-weight: bold;
}

.flashCard.rotate {
    transform: rotateY(180deg);
}

.flashCardBtns {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 8px;
}

.flashCardBtns>button {
    width: 100%;
    background-color: var(--secondary);
    color: var(--forth);
    padding: 8px;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
}

/*Media Queries*/
@media screen and (min-width:769px) {
    .flashCardBtns {
        width: 30%;
        margin: 0 auto;
    }

    .flashCardFront,
    .flashCardBack {
        width: 25%;
    }

}